
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
body {
	font-family: "Poppins", sans-serif;
	background: linear-gradient(#8b80f9, #212123);
	margin: 0;
	padding: 0;
}



header img {
	height: 50px;
	margin-right: 10px;
}

main {
	padding: 20px;
}

.seccion-boletos table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.seccion-boletos th,
.seccion-boletos td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
}

.seccion-snacks ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.seccion-snacks li {
	margin-bottom: 5px;
}

.total {
	text-align: right;
	margin-top: 20px;
}

.total h3 {
	font-size: 24px;
	color: #fff;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
