<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"     
      xmlns:sec="http://thymeleaft.org/extras/spring-security"
      <head>
    <title th:text="#{ComprarEntrada}"></title>
    <link rel="shortcut icon" href="../Images/logo-cine.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="css/crea_.css">
        <style>
        h1 {
            position: relative;
            text-align: center;
            color: white;
            background-color: black;
            padding: 10px;
            margin: 0 auto;
            width: 100%;
            transition: width 0.5s ease-in-out;
            border-radius: 10px;
            cursor: pointer;
        }

        h1:hover {
            width: 60%;
        }
    </style>
</head>
<!-- Hacerlo más bonito y mostrar una imagen con los asientos -->

<body>
    

    <h1 th:text="#{ComprarEntrada}"></h1>
    <img th:src="@{/images/butacas.png}" alt="Butacas"/>

    <div class="container">
        <div class="card-header bg-black text-white"> </div>
        <div class="card-body"> 
            <div class="container"> 
                <form th:object = "${factura}"
                      th:action="@{/save}" 
                      method="POST"
                      >                         
                    <input type ="hidden" th:field="*{num_factura}">

                    <div class="form-group mb-3 row"> 
                        <label class="col-md-2 col-form-label" for="fecha" th:text="#{ColFecha}"></label>
                        <div class="col-sm-10"> 
                            <input type="text" class="form-control form-control-sm col-md-6" th:field="*{fecha}" placeholder="Fecha (DD/MM/AAAA)" id="fecha" aria-describedby="emailHelp"> 
                        </div>
                    </div>

                    <!-- Ya se muestra automaticamente el cliente, hacer mas bonito -->
                    <div class="form-group mb-3 row"> 
                        <label class="col-md-2 col-form-label" for="clientes" th:text="#{ColCliente}"></label>
                        <div  sec:authorize="isAuthenticated()">
                            <span sec:authentication="name"></span>  
                        </div>   
                    </div>

                    <div class="form-group mb-3 row"> 
                        <label class="col-md-2 col-form-label" for="peliculas" th:text="#{ColPelicula}"></label>
                        <div class="col-sm-10"> 
                            <select th:field="*{pelicula}" class="form-control form-control-sm col-md-6" id="pelicula" aria-describedby="emailHelp">
                                <option th:each="x:${peliculas}"
                                        th:value="${x.id}"
                                        th:text="${x.nombre}"/>
                            </select>
                        </div>
                    </div>

                    <div class="form-group mb-3 row"> 
                        <label class="col-md-2 col-form-label" for="asientos" th:text="#{ColAsiento}"></label>
                        <div class="col-sm-10"> 
                            <select th:field="*{asiento}" class="form-control form-control-sm col-md-6" id="asiento" aria-describedby="emailHelp">
                                <option th:each="x:${asientos}"
                                        th:value="${x.num_asiento}"
                                        th:text="${x.num_asiento}"/>
                            </select>

                        </div>
                    </div>

                    <div class="form-group mb-3 row"> 
                        <label class="col-md-2 col-form-label" for="comidas" th:text="#{Snacks}"></label>
                        <div class="col-sm-10"> 
                            <select th:field="*{comida}" class="form-control form-control-sm col-md-6" id="comida" aria-describedby="emailHelp">
                                <option th:each="x:${comidas}"
                                        th:value="${x.id}"
                                        th:text="${x.nombre}"/>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" value="Guardar" th:text="#{Comprar}"></button>
                </form>  

            </div>
        </div>
    </div>


</body>

</html>
