<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"     
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{TiLogin}" ></title>
        <link rel="stylesheet"  th:href="@{/css/Login.css}">
        <link rel="shortcut icon" href="../Images/logo-cine.png">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body>
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
                <div class="container">
                    <a class="navbar-brand" href="#" th:href="@{~/PInicio}" th:text="#{Cine}"></a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="mx-auto"></div>
                        <ul class="navbar-nav">       

                            <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                                <a class="nav-link text-white" href="#" th:href="@{~/facturaC}" th:text="#{Comprar}"></a>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item"> 
                                <a class="nav-link text-white" href="#" th:href="@{~/factura}" th:text="#{Facturas}"></a>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item"> 
                                <a class="nav-link text-white" href="#" th:href="@{~/cliente}" th:text="#{Clientes}"></a>
                            </li>
                            <!-- Para dar opcion de compra a administrador -->
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item"> 
                                <a class="nav-link text-white" href="#" th:href="@{~/facturaC}" th:text="#{Comprar}"></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" th:href="@{~/Snacks}" th:text="#{Snacks}"></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" th:href="@{~/Acerca}" th:text="#{Acerca}"></a>
                            </li>

                            <li sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm"> 
                                <a class="nav-link text-white" href="#" th:href="@{~/logout}" th:text="#{Logout}"></a>
                            </li>

                            <li sec:authorize="isAnonymous()" class="btn btn-outline-info my-2 my-sm-0 btn-sm"> 
                                <a class="nav-link text-white" href="#" th:href="@{~/login}" th:text="#{Login}"></a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="login">
                <h2 th:text="#{IniSesion}"></h2>
                <form name="f" th:action="@{/login}" method="post"> 
                    <fieldset>
                        <!-- Thymeleaf + Spring Security error display -->
                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid username and password.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </div>
                        <!-- Login Controls -->
                        <div class="form-group">
                            <label class="Campo" for="txtUsername" th:text="#{Usuario}"></label>
                            <!-- Los id son obligatorios asi -->
                            <input type="text" class="form-control" id="username" name="username" 
                                   placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="txtPassword" class="Campo" th:text="#{Contra}"></label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password">
                        </div>
                        <!-- Login Button -->
                        <div class="form-actions" style="margin-top: 12px;">
                            <button type="submit" class="btn btn-success" th:text="#{Aceptar}"></button>
                        </div>
                    </fieldset>
                </form>

                <a class="mt-5" href="/clienteR" role="button" th:text="#{Registrarse}"></a>

            </div>

        </main>

        <script src="./script.js"></script>
    </body>

</html>