<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"     
      xmlns:sec="http://thymeleaft.org/extras/spring-security"
      lang="es">
    <head>
        <title>Pagina de inicio</title>

        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css'>
        <link rel='stylesheet' href='https://static.fontawesome.com/css/fontawesome-app.css'>
        <link rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.2.0/css/all.css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
        <link rel="stylesheet" href="css/PInicio.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>    
    </head>


    <body>
        <!-- Navbar  -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
            <div class="container">
                <a class="navbar-brand" href="#">Cine</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mx-auto"></div>
                    <ul class="navbar-nav">       

                        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                            <a class="nav-link text-white" href="#" th:href="@{~/facturaC}">Comprar</a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item"> 
                            <a class="nav-link text-white" href="#" th:href="@{~/factura}">Facturas</a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item"> 
                            <a class="nav-link text-white" href="#" th:href="@{~/cliente}">Clientes</a>
                        </li>
                        <!-- Para dar opcion de compra a administrador -->
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item"> 
                            <a class="nav-link text-white" href="#" th:href="@{~/facturaC}">Comprar</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" href="Snacks.html">Snacks</a>
                        </li>

                        <li sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm"> 
                            <a class="nav-link text-white" href="#" th:href="@{~/logout}">Cerrar sesion</a>
                        </li>

                        <li sec:authorize="isAnonymous()" class="btn btn-outline-info my-2 my-sm-0 btn-sm"> 
                            <a class="nav-link text-white" href="#" th:href="@{~/login}">Iniciar sesion</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="options">
            <div class="option" style="--optionBackground: url('../Images/Bat.jpg');">
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                         <img src="../Images/icons.png" />
                    </div>
                    <div class="info">
                        <div class="main">Batman</div>
                        <div class="sub"> Batman contra los errores del pasado.</div>
                    </div>
                </div>
            </div>
            <div class="option" style="--optionBackground: url('../Images/pp.jpg');">
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                        <img src="../Images/icons.png" />
                    </div>
                    <div class="info">
                        <div class="main">El exorcista del papa</div>
                        <div class="sub">Descubre los secretos del baticano.</div>
                    </div>
                </div>
            </div>
            <div class="option" style="--optionBackground: url('../Images/Scr6.jpg');">
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                            <img src="../Images/icons.png" />
                    </div>
                    <div class="info">
                        <div class="main">Scream 6</div>
                        <div class="sub">New York Nuevas reglas.</div>
                    </div>
                </div>
            </div>
            <div class="option" style="--optionBackground: url('../Images/John.jpg');">
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                           <img src="../Images/icons.png" />
                    </div>
                    <div class="info">
                        <div class="main">John</div>
                        <div class="sub">Una vez más John contra la Orden Suprema.</div>
                    </div>
                </div>
            </div>
            <div class="option" style="--optionBackground: url('../Images/2049.jpg');">
                <div class="shadow"></div>
                <div class="label">
                    <div class="icon">
                      <img src="../Images/icons.png" />
                    </div>
                    <div class="info">
                        <div class="main">Blade Runner 2049</div>
                        <div class="sub">ES 2049 y las cosas han cambiado un poco.</div>
                    </div>
                </div>
            </div>
        </div>




    </div>   


    <div class="contenido">
        <div class="content-container">

            <div class="lista-pelis-contenedor">
                <h2>Lo ultimo</h2>

                <div class="lista-pelis-slider">
                    <div class="lista-pelis">
                        <div class="pelis">
                            <img class="peli-1" src="../Images/Bat.jpg" alt="Batman"/>
                            <span class="lista-pelis-item">Estreno!</span> 
                            <p class="descripcion-peli">Batman explora la corrupcion existente 
                                en la ciudad de Gotham y el vínculo de esta con su propia familia.</p>
                            <button class="boton-peli">Ver</button>
                        </div>
                        <div class="pelis">
                            <img class="peli-2" src="../Images/John.jpg" alt="John Wick"/>
                            <span class="lista-pelis-item">Estreno!</span> 
                            <p class="descripcion-peli">Una exploracion de las aventuras, las desgarradoras 
                                experiencias y las hazañas del legendario asesino a sueldo, John Wick.</p>
                            <button class="boton-peli">Ver</button>
                        </div>
                        <div class="pelis">
                            <img class="peli-3" src="../Images/gato_con_botas.jpg" alt="Gato con botas"/>
                            <span class="lista-pelis-item">Estreno!</span> 
                            <p class="descripcion-peli">Mucho antes de conocer a Shrek, tiene que huir de la 
                                ciudad cuando comienzan a sospechar que ha robado un banco.</p>
                            <button class="boton-peli">Ver</button>
                        </div>
                        <div class="pelis">
                            <img class="peli-4" src="../Images/scale.jpg" alt="Una esposa de mentiras"/>
                            <span class="lista-pelis-item">Estreno!</span> 
                            <p class="descripcion-peli">El cirujano Danny decide contratar a su ayudante Katherine, 
                                una madre soltera con hijos, para que finjan ser su familia.</p>
                            <button class="boton-peli">Ver</button>
                        </div>
                        <div class="pelis">
                            <img class="peli-5" src="../Images/IMG_5049.jpg" alt="Scream"/>
                            <span class="lista-pelis-item">Estreno!</span> 
                            <p class="descripcion-peli">Cuatro supervivientes de los asesinatos de Ghostface dejan 
                                atras Woodsboro para empezar de nuevo en Nueva York.</p>
                            <button class="boton-peli">Ver</button>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <footer>
        <p>2023 Cine Estudiantes</p>
    </footer>

    <script src="NavBar.js"></script>
    <script type="text/javascript">
        var nav = document.querySelector('nav');

        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 100) {
                nav.classList.add('bg-dark', 'shadow');
            } else {
                nav.classList.remove('bg-dark', 'shadow');
            }
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="./Script.js"></script>

</body>
</html>


